In [124]:
%pwd
%cd data_samples

[WinError 2] The system cannot find the file specified: 'data_samples'
C:\Users\nh103043\workspace\vendor_descriptions\data_samples

In [125]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [133]:
sent1 = pd.read_csv("first-sentence-markets.csv")
sent2 = pd.read_csv("second-sentence-prime-contracts.csv")
sent3 = pd.read_csv("third-sentence-task-orders.csv")
sent4 = pd.read_csv("fourth-sentence-agencies.csv")
sent5 = pd.read_csv("fifth-sentence-subcontracts.csv")
sent6 = pd.read_csv("sixth-sentence-age.csv")
sent7 = pd.read_csv("seventh-sentence-small-biz.csv")

sent1.head(10)

,VENDOR_KEY,VENDOR_BESTNAME,TITLE,DOLLARS
0,0,-,"Aircraft, Ships, Subs and Land Combat Vehicles",3010743506.00
1,0,-,Research & Development,1230852005.00
2,0,-,Sustainment Supplies and Equipment,1152344580.00
3,3,Karl Steiger Gmbh Anlagenbau And Facility Mana...,Industrial Products and Services,88831.00
4,13,"Shirazi Trading Co.,",Management & Advisory Services,42996.00
5,13,"Shirazi Trading Co.,",Professional Services,42996.00
6,13,"Shirazi Trading Co.,",Research & Development,408955.47
7,2668,Miscellaneous Foreign Awardees,Miscellaneous Supplies and Equipment,26584517865.00
8,2668,Miscellaneous Foreign Awardees,Facilities and Construction,4895586750.00
9,2668,Miscellaneous Foreign Awardees,Transportation and Logistics Services,6994721899.00

In [195]:
counts = sent1.groupby('VENDOR_KEY').TITLE.nunique()
counts.head(10)

VENDOR_KEY
0        3
3        1
13       3
2668     3
10696    1
11035    1
11201    1
11532    1
11945    1
12877    2
Name: TITLE, dtype: int64

In [188]:
for index,row in counts.head(10).iterrows():
    print(index,row['VENDOR_KEY'],row['TITLE'])

0 0 3
1 3 1
2 13 3
3 2668 3
4 10696 1
5 11035 1
6 11201 1
7 11532 1
8 11945 1
9 12877 2

In [127]:
def count_logic(vendor_key):

   VENDOR_KEY  TITLE
0           0      3
1           3      1
2          13      3
3        2668      3
4       10696      1

In [107]:
for index,row in vendor_counts.iterrows():
    print(row.TITLE)

3
1
3
3
1
1
1
1
1
2
1
1
1
1
1
1
1
1
1
1
1
1
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2